Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
oracledb
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
pandas
gunicorn
openpyxl
django-encrypted-model-fields
pyopenssl
Werkzeug
django_extensions
celery==5.5.3
redis==7.0.1
psutil
django-filter
xlrd